@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

// * {
//   border: 1px solid gold;
// }

body {
    background:#ebc8b2;
    // background: #6e757d;
    color: black;
}

h1, h2, h4 {
    text-align: center;
}
 h1, h2 {
    font-family: 'Merienda', cursive;
 }
//  text:hover {
//   color: black;
// }
// h2:hover {
//   color: black;
// }

nav {
    background:#800000;
    padding: 0 2px 0 2px;
    text-align: center;
    // height: 75px;
  }

nav a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
  
  nav a:hover {
    color: teal;
    font-weight: 1000;
  }

nav li {
    display: inline-flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 100px;

  }

  nav ul {
    margin: 0px;
  }

.jumbotron {
    background-image:  
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
    url(/images/jumbotron.jpg);
    width: 100%;
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:#800000;
    text-align: center;
    border: none;
    // jumbotron.hover: black;
  

    h1 {
      font-family: 'Merienda', cursive;
      font-size: 70px;
  }
  h4 {
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
  }

  h4:hover {
        color: black;
    }

  }


  .body-image {
    background-image:  
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
    url(/images/jumbotron.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
    .jumbotron-2 {
      background-image:  
      linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
      url(/images/jumbotron.jpg);
      width: 100%;
      height: 600px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      color:#800000;
      text-align: center;
      border: none;
    

    h1 {
        font-family: 'Merienda', cursive;
        font-size: 70px;
    }
    h4 {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;

    }
        h1:hover {
            color: black;
        }
        h4:hover {
            color: black;
        }

    }

 .howitworks {
     text-align: center;
     color: black;
     h2 {
        // font-family: 'Lato', sans-serif;

         font-size: 50px;
        //  font-weight: bold;
         
     }
     p {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
     }


}

.user-card {
  height: 250px;
  width: 100px;
  border: 2px solid #800000;
  border-radius: 10px;
  // background-color: #800000;
  
}

.user-container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-evenly;
}

.user-card-group {
  align-items: center;
  justify-content: space-evenly;
}

.restaurant-card {
  height: 300px;
  width: 300px;
  border: 2px solid #800000;
  border-radius: 10px;
  // background-color: #800000;
  
}

.restaurant-image {
  height: 170px;
}

.restaurant-button {
  font-size: 23px;
  color: white;
  height: 60px;
  width: 297px;
  background-color: #800000;
  border-radius: 0px 0 5px 5px;
  border: none;

}

.container-changes {
  position: relative;
  top: 5%;
  margin: auto;
  width: 50%;
  background: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: left;
  box-shadow: 1px 1px 10px #ddd,
            -1px -1px 10px #ddd,
            1px -1px 10px #ddd,
            -1px 1px 10px #ddd;

}

.container-changes-2 {

  position: relative;
  top: 5%;
  margin: auto;
  width: 50%;
  background: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  box-shadow: 1px 1px 10px #ddd,
            -1px -1px 10px #ddd,
            1px -1px 10px #ddd,
            -1px 1px 10px #ddd;

  img {
    height: 300px
  }

}

legend {
  text-align: center;
  font-weight: 500;
  color: teal;
  font-family: 'Merienda', cursive;

}

// input {
//   border: 1px solid black;

// }


input, textarea {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  left: 10%;
}

textarea {
  resize: none;
  height: 75px;
}

label {
  text-align: center;
  display: block;
}


.jumbotron-3 {
  background-image:  
  linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
  url(/images/jumbotron.jpg);
  width: 100%;
  height: 800px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:#800000;
  text-align: center;
  border: none;


h1 {
    margin: 20px;
    font-family: 'Merienda', cursive;
    font-size: 70px;
}
h4 {
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

}
    h1:hover {
        color: black;
    }
    h4:hover {
        color: black;
    }

}




.jumbotron:hover {
  color: black;
}

.jumbotron-2:hover {
  color: black;
}

.jumbotron-3:hover {
  color:#800000;;
}